.App {
   display: flex;  
  justify-content: center;
}

.header{
  margin:10px; 
  text-align:center; 
 
}
@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  .App {
    display: flex;  
    justify-content: center;
    flex-wrap: wrap-reverse;
  }
  
  .header{
    margin:10px; 
    text-align:center;
    
  }
}

